{# Botão Voltar padrão do E-Protocolo - incluir em todas as subpáginas #}
{# Uso: {% include "eprotocolo/partials/voltar_btn.html" %} #}
{# Ou com URL customizada: definir voltar_url, voltar_text no contexto #}
<a href="{{ voltar_url | default('/eprotocolo') }}" class="btn-voltar-eprotocolo">
    <span class="btn-voltar-eprotocolo__icon" aria-hidden="true">
        <i class="fas fa-arrow-left"></i>
    </span>
    <span class="btn-voltar-eprotocolo__label">{{ voltar_text | default('Voltar') }}</span>
</a>
